.picture-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  z-index: 0;
  position: relative;
}

.half {
  height: 60vh;
  max-height: 60vw;
}

.title {
  color: #fff;
  font-size: max(40px, 10vmin);
  font-family: "Archivo", sans-serif;
  text-align: center;
  position: absolute;
  top: 41%;
  width: 100%;
}

.photographer {
  font-family: "Barlow Condensed";
  position: absolute;
  bottom: 5px;
  left: 5px;
  z-index: 999;
  color: rgb(170, 170, 170);
  font-weight: 400;
  font-size: 13px;
}

/* URLs for the pictures used */
.url-1 {
  background: url("../images/training.jpg") center center/cover;
}

.url-2 {
  background: url("../images/handstand.jpg") center center/cover;
}

.url-3 {
  background: url("../images/training-2.jpg") center center/cover;
}

.title-fade-in {
-webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.5s; /* Firefox < 16 */
  -ms-animation: fadein 1.5s; /* Internet Explorer */
  -o-animation: fadein 1.5s; /* Opera < 12.1 */
  animation: fadein 1.5s;
  transition: linear;
}

@keyframes fadein {
  from {
    opacity: 0;
    left: -5%;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
    left: -5%;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
    left: -5%;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
    left: -5%;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
    left: -5%;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
