.btn {
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: "Archivo", sans-serif;
  font-size: min(3vh, 1.5rem);
}

.btn-primary {
  background-color: #fff;
  color: #242424;
  border: 1px solid #fff;
}

.btn-outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid #fff;
  transition: all 0.3s ease-out;
}

.btn-medium {
  padding: 6px 15px;
}

.btn-large {
  padding: 10px 20px;
}

.btn-medium:hover,
.btn-large:hover,
.btn-medium:active,
.btn-large:active {
  text-decoration: none;
  background: #fff;
  color: #242424;
  transition: all 0.3s ease-out;
}

/* for the "apply here" button in apply page */
.apply-here,
.apply-here:focus,
.apply-here:active
 {
  border: 1px solid rgb(0, 167, 28);
  background-color: #00843d;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: none;
  outline: 0;
}