/* 
align-items: hvordan de plasseres vertikalt
*/

.navbar {
  background: transparent;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 22px;
  position: absolute;
  top: 0;
  z-index: 999;
  padding: 20px 40px 0px 40px;
}

.navbar-logo {
  position: absolute;
  justify-self: left;
  margin-left: 0px;
  cursor: pointer;
  display: flex;
}

.logo {
  max-height: 70px;
  width: auto;
  margin-top: 10px;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: auto;
  grid-column-gap: 30px;
}

.nav-links {
  margin: 0 0 20px 0;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  height: 60px;
  line-height: 80px;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.selected {
  border-bottom: 4px solid #fff;
}

.menu-icon {
  display: none;
  z-index: 999;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    flex-direction: column;
    width: 100%;
    top: 0px;
    left: -100%;
    transition: all 0.5s ease;
    position: absolute;
  }

  .nav-menu-active {
    flex-direction: column;
    width: 100%;
    top: 0px;
    left: 0;
    transition: all 0.5s ease;
    position: absolute;
    display: flex;
    background-color: rgba(14, 14, 14, 0.9);
    transition: all 0.5s ease;
  }

  .nav-links-mobile {
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    line-height: 80px;
    text-align: center;
    text-decoration: none;
  }

  .nav-links-mobile:hover {
    background-color: #fff;
    color: #242424;
  }

  .selected-mobile {
    color: #242424;
    background-color: #fff;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    transform: translate(-100%, 60%);
    font-size: 30px;
    cursor: pointer;
  }

  .fa-bars {
    color: #fff;
    font-size: 30px;
  }

  .fa-times {
    color: #fff;
    font-size: 35px;
  }
}
