.text-section-container {
    padding: 3vw 6vw 3vw 6vw;
}

.text-section-title {
    display: inline-block;
    position: static;
    text-align: left;
    font-size: min(50px, 7vh);
    font-weight: 350;
    border-bottom: 2px solid #00843d;
    margin-bottom: 1vw;
}

.text-section-text {
    font-size: min(23px, 3.5vh);
}
